html, body {
    height: 100%!important;
    background-color: #ffd740!important;
}

.card {
    width: 75%;
}

p {
    margin: 0!important;
}

@media (min-width: 992px) {
    .card {
        width: 25%!important;
    }
}